VITE_PUBLIC_URL=https://stiletto.deeme.dev
VITE_RESOURCES_URL= URL API ADDRESS FOR ICONS AND MAPS
VITE_API_URL= URL API
VITE_DISCORD_CLIENT_ID= DISCORD CLIENT ID
VITE_PLAUSIBLE_URL=PLAUSIBLE URL
VITE_PUBLIC_POSTHOG_KEY=your_posthog_key
VITE_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
VITE_VERSION=$npm_package_version