@tailwind utilities;
@layer utilities {
  .text-tribal {
    color: var(--tribal);
  }
  .text-sand {
    color: var(--sand);
  }
  .text-sandLight {
    color: var(--sand-light);
  }
  .text-sandDark {
    color: var(--sand-dark);
  }
  .text-nature {
    color: var(--nature);
  }
  .text-charcoal {
    color: var(--charcoal);
  }

  .bg-tribal {
    background-color: var(--tribal);
  }
  .bg-sand {
    background-color: var(--sand);
  }
  .bg-sandLight {
    background-color: var(--sand-light);
  }
  .bg-sandDark {
    background-color: var(--sand-dark);
  }
  .bg-nature {
    background-color: var(--nature);
  }
  .bg-charcoal {
    background-color: var(--charcoal);
  }

  .border-tribal {
    border-color: var(--tribal);
  }
  .border-sand {
    border-color: var(--sand);
  }
  .border-sandLight {
    border-color: var(--sand-light);
  }
  .border-sandDark {
    border-color: var(--sand-dark);
  }
  .border-nature {
    border-color: var(--nature);
  }
  .border-charcoal {
    border-color: var(--charcoal);
  }

  .ring-tribal {
    --tw-ring-color: var(--tribal);
  }
  .ring-sand {
    --tw-ring-color: var(--sand);
  }
  .ring-sandLight {
    --tw-ring-color: var(--sand-light);
  }
  .ring-sandDark {
    --tw-ring-color: var(--sand-dark);
  }
  .ring-nature {
    --tw-ring-color: var(--nature);
  }
  .ring-charcoal {
    --tw-ring-color: var(--charcoal);
  }
  .text-theme-primary {
    @apply text-tribal;
  }
  .text-theme-secondary {
    @apply text-sand;
  }
  .text-theme-light {
    @apply text-sandLight;
  }
  .text-theme-dark {
    @apply text-sandDark;
  }
  .text-theme-accent {
    @apply text-nature;
  }
  .text-theme-charcoal {
    @apply text-charcoal;
  }

  .bg-theme-primary {
    @apply bg-tribal;
  }
  .bg-theme-secondary {
    @apply bg-sand;
  }
  .bg-theme-light {
    @apply bg-sandLight;
  }
  .bg-theme-dark {
    @apply bg-sandDark;
  }
  .bg-theme-accent {
    @apply bg-nature;
  }
  .bg-theme-charcoal {
    @apply bg-charcoal;
  }

  .border-theme-primary {
    @apply border-tribal;
  }
  .border-theme-secondary {
    @apply border-sand;
  }
  .border-theme-light {
    @apply border-sandLight;
  }
  .border-theme-dark {
    @apply border-sandDark;
  }
  .border-theme-accent {
    @apply border-nature;
  }
  .border-theme-charcoal {
    @apply border-charcoal;
  }

  .ring-theme-primary {
    @apply ring-tribal;
  }
  .ring-theme-secondary {
    @apply ring-sand;
  }
  .ring-theme-light {
    @apply ring-sandLight;
  }
  .ring-theme-dark {
    @apply ring-sandDark;
  }
  .ring-theme-accent {
    @apply ring-nature;
  }
  .ring-theme-charcoal {
    @apply ring-charcoal;
  }

  .hover-text-theme-primary {
    @apply hover:text-tribal;
  }
  .hover-text-theme-secondary {
    @apply hover:text-sand;
  }
  .hover-text-theme-light {
    @apply hover:text-sandLight;
  }
  .hover-text-theme-dark {
    @apply hover:text-sandDark;
  }
  .hover-text-theme-accent {
    @apply hover:text-nature;
  }
  .hover-text-theme-charcoal {
    @apply hover:text-charcoal;
  }

  .hover-bg-theme-primary {
    @apply hover:bg-tribal;
  }
  .hover-bg-theme-secondary {
    @apply hover:bg-sand;
  }
  .hover-bg-theme-light {
    @apply hover:bg-sandLight;
  }
  .hover-bg-theme-dark {
    @apply hover:bg-sandDark;
  }
  .hover-bg-theme-accent {
    @apply hover:bg-nature;
  }
  .hover-bg-theme-charcoal {
    @apply hover:bg-charcoal;
  }

  .hover-border-theme-primary {
    @apply hover:border-tribal;
  }
  .hover-border-theme-secondary {
    @apply hover:border-sand;
  }
  .hover-border-theme-light {
    @apply hover:border-sandLight;
  }
  .hover-border-theme-dark {
    @apply hover:border-sandDark;
  }
  .hover-border-theme-accent {
    @apply hover:border-nature;
  }
  .hover-border-theme-charcoal {
    @apply hover:border-charcoal;
  }

  .text-blue-300 {
    @apply text-theme-light;
  }
  .text-blue-400 {
    @apply text-theme-secondary;
  }
  .text-blue-500 {
    @apply text-theme-primary;
  }
  .text-blue-600 {
    @apply text-theme-primary;
  }
  .text-blue-700 {
    @apply text-theme-dark;
  }

  .bg-blue-300 {
    @apply bg-theme-light;
  }
  .bg-blue-400 {
    @apply bg-theme-secondary;
  }
  .bg-blue-500 {
    @apply bg-theme-primary;
  }
  .bg-blue-600 {
    @apply bg-theme-primary;
  }
  .bg-blue-700 {
    @apply bg-theme-dark;
  }

  .border-blue-300 {
    @apply border-theme-light;
  }
  .border-blue-400 {
    @apply border-theme-secondary;
  }
  .border-blue-500 {
    @apply border-theme-primary;
  }
  .border-blue-600 {
    @apply border-theme-primary;
  }
  .border-blue-700 {
    @apply border-theme-dark;
  }

  .ring-blue-300 {
    @apply ring-theme-light;
  }
  .ring-blue-400 {
    @apply ring-theme-secondary;
  }
  .ring-blue-500 {
    @apply ring-theme-primary;
  }
  .ring-blue-600 {
    @apply ring-theme-primary;
  }
  .ring-blue-700 {
    @apply ring-theme-dark;
  }

  .hover\:text-blue-300:hover {
    @apply hover:text-sandLight;
  }
  .hover\:text-blue-400:hover {
    @apply hover:text-sand;
  }
  .hover\:text-blue-500:hover {
    @apply hover:text-tribal;
  }
  .hover\:text-blue-600:hover {
    @apply hover:text-tribal;
  }
  .hover\:text-blue-700:hover {
    @apply hover:text-sandDark;
  }

  .hover\:bg-blue-300:hover {
    @apply hover:bg-sandLight;
  }
  .hover\:bg-blue-400:hover {
    @apply hover:bg-sand;
  }
  .hover\:bg-blue-500:hover {
    @apply hover:bg-tribal;
  }
  .hover\:bg-blue-600:hover {
    @apply hover:bg-tribal;
  }
  .hover\:bg-blue-700:hover {
    @apply hover:bg-sandDark;
  }

  .hover\:border-blue-300:hover {
    @apply hover:border-sandLight;
  }
  .hover\:border-blue-400:hover {
    @apply hover:border-sand;
  }
  .hover\:border-blue-500:hover {
    @apply hover:border-tribal;
  }
  .hover\:border-blue-600:hover {
    @apply hover:border-tribal;
  }
  .hover\:border-blue-700:hover {
    @apply hover:border-sandDark;
  }

  .focus\:ring-blue-500:focus {
    @apply focus:ring-tribal;
  }
  .focus\:ring-blue-600:focus {
    @apply focus:ring-tribal;
  }
  .focus\:ring-blue-700:focus {
    @apply focus:ring-sandDark;
  }
  .focus\:ring-offset-blue-500:focus {
    @apply focus:ring-offset-tribal;
  }
  .focus\:ring-offset-blue-600:focus {
    @apply focus:ring-offset-tribal;
  }
  .focus\:ring-offset-blue-700:focus {
    @apply focus:ring-offset-sandDark;
  }

  .text-gray-300 {
    @apply text-theme-light;
  }
  .text-gray-400 {
    @apply text-theme-secondary;
  }
  .text-gray-500 {
    @apply text-theme-secondary;
  }
  .text-gray-600 {
    @apply text-theme-dark;
  }
  .text-gray-700 {
    @apply text-theme-dark;
  }
  .text-gray-800 {
    @apply text-theme-charcoal;
  }
  .text-gray-900 {
    @apply text-theme-charcoal;
  }

  .bg-gray-300 {
    @apply bg-theme-light;
  }
  .bg-gray-400 {
    @apply bg-theme-secondary;
  }
  .bg-gray-500 {
    @apply bg-theme-secondary;
  }
  .bg-gray-600 {
    @apply bg-theme-dark;
  }
  .bg-gray-700 {
    @apply bg-theme-dark;
  }
  .bg-gray-800 {
    @apply bg-theme-charcoal;
  }
  .bg-gray-850 {
    @apply bg-theme-charcoal;
  }
  .bg-gray-900 {
    @apply bg-theme-charcoal;
  }

  .border-gray-300 {
    @apply border-theme-light;
  }
  .border-gray-400 {
    @apply border-theme-secondary;
  }
  .border-gray-500 {
    @apply border-theme-secondary;
  }
  .border-gray-600 {
    @apply border-theme-dark;
  }
  .border-gray-700 {
    @apply border-theme-dark;
  }
  .border-gray-800 {
    @apply border-theme-charcoal;
  }
  .border-gray-900 {
    @apply border-theme-charcoal;
  }

  .ring-gray-300 {
    @apply ring-theme-light;
  }
  .ring-gray-400 {
    @apply ring-theme-secondary;
  }
  .ring-gray-500 {
    @apply ring-theme-secondary;
  }
  .ring-gray-600 {
    @apply ring-theme-dark;
  }
  .ring-gray-700 {
    @apply ring-theme-dark;
  }
  .ring-gray-800 {
    @apply ring-theme-charcoal;
  }
  .ring-gray-900 {
    @apply ring-theme-charcoal;
  }

  .hover\:text-gray-300:hover {
    @apply hover:text-sandLight;
  }
  .hover\:text-gray-400:hover {
    @apply hover:text-sand;
  }
  .hover\:text-gray-500:hover {
    @apply hover:text-sand;
  }
  .hover\:text-gray-600:hover {
    @apply hover:text-sandDark;
  }
  .hover\:text-gray-700:hover {
    @apply hover:text-sandDark;
  }
  .hover\:text-gray-800:hover {
    @apply hover:text-charcoal;
  }
  .hover\:text-gray-900:hover {
    @apply hover:text-charcoal;
  }

  .hover\:bg-gray-300:hover {
    @apply hover:bg-sandLight;
  }
  .hover\:bg-gray-400:hover {
    @apply hover:bg-sand;
  }
  .hover\:bg-gray-500:hover {
    @apply hover:bg-sand;
  }
  .hover\:bg-gray-600:hover {
    @apply hover:bg-sandDark;
  }
  .hover\:bg-gray-700:hover {
    @apply hover:bg-sandDark;
  }
  .hover\:bg-gray-800:hover {
    @apply hover:bg-charcoal;
  }
  .hover\:bg-charcoal:hover {
    @apply hover:bg-charcoal;
  }

  .hover\:border-gray-300:hover {
    @apply hover:border-sandLight;
  }
  .hover\:border-gray-400:hover {
    @apply hover:border-sand;
  }
  .hover\:border-gray-500:hover {
    @apply hover:border-sand;
  }
  .hover\:border-gray-600:hover {
    @apply hover:border-sandDark;
  }
  .hover\:border-gray-700:hover {
    @apply hover:border-sandDark;
  }
  .hover\:border-gray-800:hover {
    @apply hover:border-charcoal;
  }
  .hover\:border-gray-900:hover {
    @apply hover:border-charcoal;
  }

  .focus\:ring-gray-300:focus {
    @apply focus:ring-sandLight;
  }
  .focus\:ring-gray-400:focus {
    @apply focus:ring-sand;
  }
  .focus\:ring-gray-500:focus {
    @apply focus:ring-sand;
  }
  .focus\:ring-gray-600:focus {
    @apply focus:ring-sandDark;
  }
  .focus\:ring-gray-700:focus {
    @apply focus:ring-sandDark;
  }
  .focus\:ring-gray-800:focus {
    @apply focus:ring-charcoal;
  }
  .focus\:ring-gray-900:focus {
    @apply focus:ring-charcoal;
  }

  .placeholder-gray-300::placeholder {
    @apply text-sandLight;
  }
  .placeholder-gray-400::placeholder {
    @apply text-sand;
  }
  .placeholder-gray-500::placeholder {
    @apply text-sand;
  }
  .placeholder-gray-600::placeholder {
    @apply text-sandDark;
  }
  .placeholder-gray-700::placeholder {
    @apply text-sandDark;
  }
}
