@import "tailwindcss";

@theme {
  --color-sandLight: #E0C9A6; /* Control */
  --color-colorA: #1B1B1B;    /* Test */
  --color-colorB: #D95F32;    /* Test */
}

/* All other content has been deleted for extreme isolation testing. */
