@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Okami";
  src: url("../fonts/okami.otf") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

:root {
  --blue: #375a7f;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74c3c;
  --orange: #fd7e14;
  --yellow: #f39c12;
  --green: #00bc8c;
  --teal: #20c997;
  --cyan: #3498db;
  --white: #fff;
  --gray: #888;
  --gray-dark: #303030;
  --primary: #375a7f;
  --secondary: #444;
  --success: #00bc8c;
  --info: #3498db;
  --warning: #f39c12;
  --danger: #e74c3c;
  --light: #adb5bd;
  --dark: #303030;
}

@layer base {
  html {
    @apply min-h-screen min-h-[100dvh] h-full;
  }

  body {
    background-color: var(--dark);
  }
}

@layer components {
  .card-header,
  .modal-header {
    @apply font-['Okami'] text-2xl;
  }

  .card-header .input-group {
    @apply font-['Roboto'] font-['Helvetica_Neue'] font-sans;
  }

  .navbar-brand {
    @apply font-['Okami'] font-normal;
  }

  .navbar-brand span {
    @apply text-2xl !important;
  }

  .lo-title {
    @apply font-['Okami'] font-medium text-[#ff3d09];
  }

  .web-title {
    @apply font-['Okami'];
  }

  .tab-content-tree h1 {
    @apply text-2xl !important;
  }

  .tab-content-tree {
    @apply min-h-[200vh];
  }

  .tippy-content h1 {
    @apply text-3xl;
  }

  .notifications {
    @apply fixed right-0 bottom-0 z-10;
  }

  .notifications .toast {
    @apply opacity-100;
  }

  .content-v-a {
    content-visibility: auto;
  }
}
