@font-face {
  font-family: "Okami";
  src: url("../fonts/okami.otf") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

.card-header,
.modal-header {
  font-family: "Okami", sans-serif;
  font-size: 1.5em;
}

.card-header .input-group {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.navbar-brand {
  font-family: "Okami", sans-serif;
  font-weight: 400;
}

.navbar-brand span {
  font-size: 1.5rem !important;
}

.lo-title {
  font-family: "Okami", sans-serif;
  font-weight: 500;
  color: #ff3d09;
}

.tab-content-tree h1 {
  font-size: 1.5em !important;
}

.tab-content-tree {
  min-height: 200vh;
}

.tippy-content h1 {
  font-size: 2em;
}

.notifications {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
}
